header {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

.student-portal {
  margin-top: 15px;
}

.incorrect {
  text-align: right;
}

.block {
  margin: 100px 0px;
  padding: 30px;
  border: 5px solid black;
  background-color: white;
}

.bg-image {
  background-size: cover;
  background-image: url('./images/boogle-background.png');
  background-color: darkslategray;
}
