header {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 20px;
}

.student-portal {
  margin-top: 15px;
}

.incorrect {
  text-align: right;
}

.block {
  height: 464.20px; 
  margin-top: calc(50vh - 232.10px);
  padding: 30px;
  border: 5px solid black;
  background-color: white;
}

.bg-image {
  background-image: url('./boogle-background.png');
  background-color: darkslategray;
}